/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
/* GLOBAL STYLING FOR ARTIST PAGE */
.art-section {
    max-width: 1920px;
    margin: -4px -8px;
    margin-left: auto;
    margin-right: auto;
}
.art-page-cred-section {
    background-color: #000;
    /* border: 1px solid red; */
}
.cred-stn-sh-stl {
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cred-stn-sh-list-h-stl {
    color: #FE8453;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* border: 1px solid red; */
    margin-bottom: -0.5rem;
}
.cred-stn-sh-list-para-stl {
    color: #9D9D9D;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
}
/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */







/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
/* this section is for FOLLOW ARTIST TOP SECTION */
#follow-artist-top-section {
    /* border: 1px solid blue; */
    background-image: url(../images/artists-page/artist-follow-banner-1.png);
    background-repeat: no-repeat;
    background-size: auto;
    /* color: white; */
    position: relative;
    margin-bottom: 10rem;
    max-width: 1728px;
    background-repeat: no-repeat;
}
.artists-path-line {
    /* border: 1px solid red; */
    position: absolute;
    top: 1.94rem;
    left: 4rem;
}
.ap-path {
    color: #DCDCDC;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.artists-path-line svg {
    margin: auto .62rem;
    width: 0.285rem;
    height: 0.5rem;
}
#path-artist-name  {
    color: #FFF;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.painter-country {
    color: #FE8453;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* border: 1px solid red; */
    padding-top: 5.06rem;
}
.artist-name {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* border: 1px solid red; */
    margin-top: .75rem;
    margin-bottom: 1.87rem;
}
.follow-btn-wrapper {
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
    width: 12.9375rem;
    height: 2.5rem;
    border-radius: 1.4375rem;
    flex-shrink: 0;
}
.follow-btn-wrapper button {
    width: 100%;
    height: 100%;
    border-radius: 1.4375rem;
    background: #FFF;
    text-align: var(--text-align-center);
    border: none;
    outline: none;
    display: flex;
    gap: .81rem;
    align-items: center;
}
.follow-btn-wrapper button svg {
    margin-left: auto;
}
.follow-btn-wrapper button span {
    margin-right: auto;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.about-the-particular-creator {
    margin-left: auto;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-left: auto;
    /* margin-right: auto;border: 1px solid red; */
    padding-bottom: 4.75rem;
}
.about-the-particular-creator a {
    color: #FFF;
}

.artist-profile-wrapper picture img {
    width: 12.5rem;
    height: 12.5rem;
    flex-shrink: 0;
    border-radius: var(--border-radius-50-cnt);
}
.artist-profile-wrapper {
    position: absolute;
    bottom: -160px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}
/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */







/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
/* this section is for FOLLOW ARTIST MIDDLE SECTION */
#follow-artist-middle-section {
    /* border: 1px solid blue; */
    background-image: url(../images/artists-page/artist-follow-banner-2.png);
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    max-width: 1728px;
    background-repeat: no-repeat;
    padding-top: 2.56rem;
    padding-bottom: 2.88rem;
}

.artist-profile-wrapper-middle-section picture img {
    border-radius: var(--border-radius-50-cnt);
    width: 6.25rem;
    height: 6.25rem;
    flex-shrink: 0;
    border: 2px solid #FE8453;
}
.artist-profile-wrapper-middle-section {
    z-index: 1;
    text-align: center;
}
.artist-follow-wrapper-middle-section > h3 {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.25rem; /* 128.571% */
    /* border: 1px solid red; */
    margin-bottom: .62rem;
}
.artist-follow-wrapper-middle-section > h4 {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 0;
    margin-bottom: 1.87rem;
}
/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */







/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
/* #art-studio-stn {
    border: 10px solid red;
} */
.art-studio-stn > .product > main > picture > img {
    /* border: 10px solid red; */
    border-radius: 1rem;
}
/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */







/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
/* this is for youtube play video */
#artist-sample-video {
    /* border: 2px solid red; */
    position: relative
}
#artist-sample-video > picture > img {
    width: 100%;
}
#artist-sample-video > iframe {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border: none;
    width: 50%;
    height: 75%;
}
/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */







/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
/* this is for the ARTISTS CREDENTIALS SECTION */
.art-page-cred-section > header {
    text-align: var(--text-align-center);
    justify-content: space-around;
    width: max-content;
    margin-left: 50%;
    transform: translate(-50%);
    margin: -1rem auto;
}
.art-page-cred-section > header > picture:nth-child(1) {
    margin-right: 0;
    transform: rotate(90deg);
}
.art-page-cred-section > header > picture:nth-child(3) {
    margin-right: 0;
    transform: rotate(270deg);
}
.art-page-cred-section > header {
    text-align: var(--text-align-center);
    justify-content: space-around;
    width: max-content;
    margin-left: 50%;
    transform: translate(-50%);
}
.art-page-cred-section > header > h2 {
    color: #FFF;
}
#ap-cred-section-main-part {
    gap: 7rem;
}
#ap-cred-section-main-part article ul {
    height: 600px;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-top: -1.5rem;

    padding-right: 0.7rem;
    position: relative;
}
#ap-cred-section-main-part article ul::-webkit-scrollbar {
    display: none;
}

#ap-cred-section-main-part article {
    position: relative;
}
#ap-cred-section-main-part article svg {
   position: absolute;
   top: 5rem;
   right: 0;
   margin-left: .5rem;
}

/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */
@media only screen and (max-width: 1440px) {
    #ap-cred-section-main-part {
        gap: 3rem;
    }
}
@media only screen and (max-width: 991px) {
    #ap-cred-section-main-part {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }
    #ap-cred-section-main-part article ul {
        height: 400px;
        margin-top: -1.5rem;
    }
    #ap-cred-section-main-part article h3 {
        text-align: var(--text-align-center);
    }
}
@media only screen and (max-width: 480px) {
    #ap-cred-section-main-part {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */
/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
































.artist-all-artworks-by-section {
    border: 2px solid red;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.94rem;
}
.artist-all-artworks-by-section main article {
    border: 2px solid red;
}






















































/* ********************************************************************** */
.all-artworks-by-particular-artist-filter-section-desktop {
    /* border: 5px solid blue; */
    margin-bottom: 20px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.filter-attri {
    border-right: 1px solid #BFBFBF;;
    height: 4rem;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}
#pdp-section-setup-filter-attribute-7 {
    padding-left: 0px;
    padding-right: 0px;
}

#pdp-section-setup-filter-attribute-1 .list-attri-box .list-attri {
    flex-direction: column; 
    border-radius: 0.375rem;
    border: 1px solid #ABABAB;
    background: #FFF; 
    width: max-content; 
    padding: 10px; 
    width: 2.625rem;
    height: 2.625rem;
    flex-shrink: 0;
}
#pdp-section-setup-filter-attribute-1 div {
    flex-direction: column;
    gap: .2rem;
   
    
}
#pdp-section-setup-filter-attribute-1 {
    gap: 10px;
    width: 70%;
    
}



#pdp-section-setup-filter-attribute-2 div h4 {
    gap: .8rem;
    font-size: .8rem;
}
#pdp-section-setup-filter-attribute-2 div span, #pdp-section-setup-filter-attribute-4 div span,  #pdp-section-setup-filter-attribute-5 div span {
    gap: 1rem;
    font-size: .7rem;
    flex-shrink: 0;
}
#pdp-section-setup-filter-attribute-2 div{
    height: 50%;
}
#pdp-section-setup-filter-attribute-3 h4, #pdp-section-setup-filter-attribute-4 h4, #pdp-section-setup-filter-attribute-5 h4 {
    margin-top: .5rem;
    font-size: .8rem;
}
#pdp-section-setup-filter-attribute-3 div, #pdp-section-setup-filter-attribute-4 svg, #pdp-section-setup-filter-attribute-5 svg {
    margin-top: -1rem;
}

#pdp-section-setup-filter-attribute-3 div, #pdp-section-setup-filter-attribute-3 h4 {
    width: 100%;
    justify-content: space-evenly;
    gap: 5px;
    width: 70%;
    /* border: 2px solid red; */
    margin-left: 50%;
    transform: translate(-50%);
}
#pdp-section-setup-filter-attribute-4 div span, #pdp-section-setup-filter-attribute-5 div span{
    /* border: 2px solid red; */
    margin-top: -.5rem;
    display: flex;
    align-items: center;
}
#pdp-section-setup-filter-attribute-6 label {
    /* border: 2px solid red; */
    color: #757575;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    width: 100%;
    padding-left: 5px;
}


#pdp-section-setup-filter-attribute-6 {
    padding-left: 20px;
    padding-right: 20px;
    width: 155%;
}

#pdp-section-setup-filter-attribute-7 {
    color: #FE8453;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-right: none;
}
























#all-artworks-by-particular-artist-filter-sorting-desktop {
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    margin-top: -25px;
    margin-bottom: 40px;
}
.sort-by-wrapper {
    /* background-color: red !important; */
    width: max-content;
    margin-left: 100%;
    transform: translate(-100%);
    border: none;
    outline: none;
    background-color: #FFF;
    display: flex;
    gap: 7px;
    align-items: center;
}
.sort-by-wrapper span:first-child{
    /* background-color: red; */
    font-size: 1rem;
    font-weight: 600;
}

#all-artworks-by-particular-artist-filter-sorting-desktop {
    position: relative;
}
.sorting-options-box {
    padding: 15px 0;
    border:  1px solid #E0E0E0;
    background-color: white;
    position: absolute;
    right: 0;
    top: 27px;
    z-index: 1;
    /* border:  2px solid red; */
}
.sorting-options-box li {
    /* border:  1px solid red; */
    padding: 14px 7px;
}
.sorting-options-box li button{
    border: none;
    outline: none;
    background-color: #FFF;
    font-size: 1rem;
}
.ds-dropdown-item {
    width: 240px;
}
.ds-dropdown-item {
    padding-left: 15px !important;
}
.ds-dropdown-item:hover {
    background-color: #f5eded;
}






@media only screen and (max-width: 1400px) {
    .all-artworks-by-particular-artist-filter-section-desktop {
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
}



@media only screen and (max-width: 1199px) {  
  
   /* #pdp-section-setup-filter-attribute-1,
   #pdp-section-setup-filter-attribute-2,
   #pdp-section-setup-filter-attribute-3,
   #pdp-section-setup-filter-attribute-4,
   #pdp-section-setup-filter-attribute-5,
   #pdp-section-setup-filter-attribute-6 {
        border: 2px solid red;
        width: 100%;
   } */


   #all-artworks-by-particular-artist-filter-sorting-desktop, 
   .all-artworks-by-particular-artist-filter-section-desktop {
    display: none;
   }


   




}









/* artist-page-filter-section-lower-devices */
.artist-page-filter-section-lower-devices {
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 2px;
    cursor: pointer;
    gap: 10px;
}


.text-filter {
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid red;
    width: 90%;
    margin-right: 10px;

    text-align: center;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 2px;
}
.text-filter:hover {
    background-color: #f5eded;
}


.list-attri{
    border: 2px solid red;
    flex-direction: column; 
    border-radius: 0.375rem;
    border: 1px solid #ABABAB;
    background: #FFF; 
    width: max-content; 
    padding: 10px; 
    width: 2.625rem;
    height: 2.625rem;
    flex-shrink: 0;
}
.grid-attri {
    background-color: #FE8453;
    border-radius: 0.375rem;
}
@media only screen and (max-width:600px) {
    .grid-attri {
        width: 3rem;
    }
}
@media only screen and (max-width:500px) {
    .grid-attri {
        width: 3.4rem;
    }
}
@media only screen and (max-width:400px) {
    .grid-attri {
        width: 3.6rem;
    }
}
@media only screen and (max-width:350px) {
    .grid-attri {
        width: 4rem;
    }
}