/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Figtree&family=Montserrat:wght@400;500;600;700;800&family=Open+Sans&display=swap');


:root {
    --cr-1: #000;
    --cr-2: #656565;
    --cr-3: #FFF;
    --cr-4: #909090;
    --cr-5: #1F2017;
    --cr-6: #B3B3B3;
    --cr-7: #A4A4A4;
    --orng-clr: #FE8453;
    --orng-clr-hover: #FE4901;
    --input-placeholder-clr: #818181;
    /* pdp & artists*/
    --cr-8: #323232;
    --cr-9: #D9D9D9;
    --cr-10: #24221E;
    --cr-11: #404040;
    --cr-12: #F3F2EC;
    --ylw-clr: #FFEBBD;


    --bgr-1: #FFF;
    --bgr-2: #FFFDF5;
    --bgr-3: #F5F4F2;
    --bgr-4: #F0FAFF;
    --bgr-5: #FAFAFA;
    --bgr-6: #F1FAFF;
    --bgr-7: #F5F2E2;
    --bgr-8: #000;
     /* pdp & artists*/
    --bgr-9: #F6F6F6;

    --fnt-siz-1: 2.5rem;
    --fnt-siz-2: 1rem;
    --fnt-siz-3: 0.9375rem;
    --fnt-siz-4: 0.875rem;
    --fnt-siz-5: 2.375rem;
    --fnt-siz-6: 1.25rem;
    --fnt-siz-7: 2rem;
    --fnt-siz-8: 0.777rem;
    --fnt-siz-9: 1.554rem;
    --fnt-siz-10: 1.036rem;
    --fnt-siz-11: 1.375rem;
    --fnt-siz-12: 1.4375rem;
    /* pdp & artists*/
    --fnt-siz-13: 0.75rem; 
    --fnt-siz-14: 1.125rem;
    --fnt-siz-15: 1.875rem;
    --fnt-siz-16: 1.625rem;
    --fnt-siz-17: 1.75rem;

    /* pdp & artists*/
    --fnt-wt-0: 300;
    --fnt-wt-1: 400;
    --fnt-wt-2: 500;
    --fnt-wt-3: 600;
    --fnt-wt-4: 700;

    --fnt-stl-normal: normal;

    --line-ht-normal: normal;
    --line-ht-150-prcnt: 1.5;
    --line-ht-131-prcnt: 1.3125;
    --line-ht-185-prcnt: 1.85714;
    /* pdp & artists*/
    --line-ht-125-prcnt: 1.25;
    --line-ht-281-rem: 2.8125rem;
    --line-ht-225-rem: 2.25rem;

    --text-align-center: center;
    --text-align-left: left;
    --text-align-right: right;

    --cursor-pointer: pointer;
    --border-none: none;

    --list-none: none;

    --box-shadow-1: 0px 22px 47px 0px #DEE9EE;

    --border-radius-1: 0.9375rem;
    --border-radius-2: 0.971rem;
    --border-radius-3: 3.0625rem;
    --border-radius-4: 0.75rem;
    --border-radius-5: 3.875rem;
    --border-radius-50-cnt: 50%;
    /* pdp & artists*/
    --border-radius-6: 6.25rem;
    --border-radius-7: 2.3125rem;
    --border-radius--8: 1.21875rem;

    --stn-padding-top: 3.5rem;
    --stn-padding-bott: 3.5rem;
    --stn-padding-left: 10rem;
    --stn-padding-right: 10rem;

    /* pdp & artists*/
    --text-decoration-line-underline: underline;
    --border-bottom: 1px solid #E0E0E0;


    --justify-content-space-around: 
    --justify-content-space-evenly:
  }

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-common-css {
    font-family: Montserrat;
    padding: 1rem 2rem;
    border-radius: var(--border-radius-3);
    color: var(--cr-3);
    text-align: var(--text-align-center);
    font-size: var(--fnt-siz-3);
    background-color: var(--orng-clr);
    font-style: var(--fnt-siz-9);
    font-weight: var(--fnt-wt-3);
    line-height: var(--line-ht-normal);
    border: var(--border-none);
    cursor: var(--cursor-pointer);
}

.button-common-css:hover {
    background-color: var(--orng-clr-hover);
}

a {
    text-decoration: none;
    color: var(--cr-1);
}
svg {
    cursor: pointer;
}

.stn-stl {
    /* border: 1px solid blue; */
    padding: var(--stn-padding-top) var(--stn-padding-right) var(--stn-padding-bott) var(--stn-padding-left);
    max-width: 1920px;
}
@media only screen and (max-width: 1440px) {
    .stn-stl {
        padding: 3.5rem;
    }
}
@media only screen and (max-width: 900px) {
    .stn-stl {
        padding: 3.5rem 0.5rem;
    }
}
.stn-cntnt-wrapper {
    width: 95%;
    /* border: 2px solid blue; */
}

.stn-h-stl {
    color: var(--cr-1);
    text-align: var(--text-align-center);
    font-family: Montserrat;
    font-size: var(--fnt-siz-1);
    font-weight: var(--fnt-wt-3);
    line-height: var(--line-ht-normal);
    font-style: var(--fnt-stl-normal);

    font-weight: var(--fnt-wt-4);
}
.stn-sh-stl {
    color: var(--cr-1);
    text-align: var(--text-align-center);
    font-family: Montserrat;
    font-size: var(--fnt-siz-2);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-1);
    line-height: var(--line-ht-normal);
}

.pro-ttl-stl {
    color: var(--cr-1);
    font-size: var(--fnt-siz-3);
    font-style: normal;
    font-weight: var(--fnt-wt-3);
    line-height: normal;
}
.pro-typ-stl {
    color: var(--cr-2);
    font-family: Montserrat;
    font-size: var(--fnt-siz-4);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-2);
    line-height: var(--line-ht-normal);
}
.pro-size-stl {
    color: var(--cr-2);
    font-family: Montserrat;
    font-size: var(--fnt-siz-4);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-2);
    line-height: var(--line-ht-normal);

    margin: 0.12rem auto;
}
.pro-price-stl {
    color: var(--cr-1);
    font-family: Montserrat;
    font-size: var(--fnt-siz-4);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-3);
    line-height: var(--line-ht-normal);
}
/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */







/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
/* GLOBAL STYLING FOR PDP & ARTIST PAGE */
*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
button {
    cursor: var(--cursor-pointer);
}
.ring {
    border: 3px solid red;
}
.sub-ring {
    border: 3px solid blue;
}
.pdp-section-setup {
    margin: 0 auto;
    max-width: 1920px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 3.63rem;
    padding-bottom: 3.63rem;
    /* border: 2px solid blue; */
}
.pro-6-row-stn-stl {
    /* border: 7px solid pink; */
    padding-left: 9%;
    padding-right: 9%;
}
.side-bars-setup {
    padding-left: 60px;
}
.hidden {
    display: none;
}

@media only screen and (max-width: 1550px) {
    /* .pro-6-row-stn-stl {
        padding-left: 0px;
        padding-right: 0px;
    } */
    .side-bars-setup {
        padding-left: 40px;
    }
}
@media only screen and (max-width: 1300px) {
    .pdp-section-setup {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media only screen and (max-width: 1200px) {
    .pdp-section-setup {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}
@media only screen and (max-width: 991px) {
    .pdp-section-setup {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
@media only screen and (max-width: 768px) {
    .pdp-section-setup {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .pdp-section-setup {
        padding-left: 5px;
        padding-right: 5px;
        /* border: 2px solid red; */
    }
    .stn-h-stl {
        font-size: var(--fnt-siz-7);
    }
}
@media only screen and (max-width: 350px) {
    .stn-h-stl {
        font-size: var(--fnt-siz-16);
        line-height: 1.5;

    }
}

.creator-heading-stl {
    /* border: 1px solid blue; */
    color: var(--cr-1);
    font-family: Montserrat;
    font-size: var(--fnt-siz-16);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-4);
    line-height: var(--line-ht-281-rem); /* 173.077% */
    margin-top: 0;
}
.creator-para-stl {
    color: var(--cr-11);
    font-family: Montserrat;
    font-size: var(--fnt-siz-2);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-3);
    line-height:var(--line-ht-150-prcnt); 
    /* background-color: red; */
}
.cart-btn-stl {
    border-radius: var(--border-radius-6);
    background: var(--orng-clr);
    color: var(--cr-3);
    text-align: var(--text-align-center);
    font-family: Montserrat;
    font-size: var(--fnt-siz-14);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-3);
    line-height: var(--line-ht-normal);
    width: 22rem;
    height: 3.25rem;
    /* width: 71%; */
    flex-shrink: 0;
    border: none;
    cursor: var(--cursor-pointer);
}
@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .cart-btn-stl {
        width: 90%;
    }
}
.pdp-stn-66-34-division {
    display: grid;
    grid-template-columns: 66% 34%;
}
/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */







/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
/* -------------------- this section is for particular product detail --------------------------------- */
.product-image-wrapper {
    /* border: 2px solid red; */
    background-color: var(--bgr-9);
    padding-bottom: 2.5rem;
    height: 100%;
}
.product-image-on-display {
    padding: 30px 15px 0 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.product-image-on-display svg {
    /* border: 1px solid blue; */
    width: 2.3rem;
    height: 2.3rem;
    flex-shrink: 0;
    cursor: var(--cursor-pointer);
}
.prod-display-image {
    /* border: 1px solid red; */
    padding: 10px;
}
.prod-display-image img {
    width: 100%;
    /* height: 100%; */
    max-height: 650px;
    cursor: var(--cursor-pointer);
}


.product-image-to-be-displayed-wrapper {
    /* border: 1px solid black; */
    height: auto;
    /* width: 89%; */
    margin-left: auto;
    margin-right: auto;
}
.product-image-to-be-displayed-div-wrapper {
    /* border: 1px solid blue; */
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
}
.product-image-to-be-displayed-wrapper picture{
    /* border: 1px solid black; */
    height: 4.5rem;
    cursor: var(--cursor-pointer);
}
.product-image-to-be-displayed-wrapper picture img{
    width: 4rem;
    max-height: 4.5rem;
}


/* aside */
/* .pdp-aside-wrapper {
    border: 1px solid blue;
} */
/* aside product heading */
.pdp-product-heading {
    color: var(--cr-1);
    font-family: Montserrat;
    font-size: var(--fnt-siz-15);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-4);
    /* border: 2px solid red; */
    margin-bottom: 5px;
    margin-top: 5px; 
}
.pdp-product-heading-plus-whislist-wrapper {
    width: 100%;
    /* border: 1px solid black;   */
    align-items: flex-start;
}
.pdp-product-whislist-wrapper {
   /* border: 1px solid red; */
   height: 100%;
   margin-top: 5px;
   padding: 10px 5px;
}
.pdp-product-para {
    /* border: 2px solid red; */
    color: var(--cr-1);
    font-family: Montserrat;
    font-size: var(--fnt-siz-4);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-0);
    line-height: var(--line-ht-normal);
    margin-bottom: -5px;
}
#artist-name {
    color: var(--cr-1);
    font-family: Montserrat;
    font-size: var(--fnt-siz-4);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-3);
    line-height: var(--line-ht-normal);
    text-decoration-line: underline;
}
.pdp-product-para-2 {
    color: var(--cr-11);
    font-family: Montserrat;
    font-size: var(--fnt-siz-13);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-0);
    line-height: var(--line-ht-normal);
}
.product-heading-wrapper {
    padding-bottom: 0px;
    border-bottom: var(--border-bottom);
}

/* aside price and cart */
.price-cart-offer-wrapper {
    /* border: 2px solid blue; */
    text-align: var(--text-align-center);
    padding-bottom: 20px;
    border-bottom: var(--border-bottom);
}
.price-box-wrapper {
    /* border: 2px solid black; */
    justify-content: space-around; 
    margin-bottom: -50px;
}
.price-with-currency {
    gap: 10px;
}
#product-price-currency-select {
    border: none;
    margin-left: 0px;
    height: max-content;
    border: 1px solid red;
    cursor: var(--cursor-pointer);
    border: none;
    outline: none;
    background-color: white;
}
.product-price {
    color: var(--cr-1);
    font-family: Montserrat;
    font-size: var(--fnt-siz-15);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-3);
    margin-left: auto;
    margin-right: auto;
    line-height: var(--line-ht-normal);
}
.shipping-tax-para {
    color: var(--cr-11);
    text-align: var(--text-align-center);
    font-family: Montserrat;
    font-size: var(--fnt-siz-13);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-0);
    line-height: var(--line-ht-normal);
}
.cart-btn {
    margin-bottom: 10PX;
    margin-top: 5PX;
}
.offer-btn {
    background: var(--ylw-clr);
    color: var(--cr-10);
}
.have-a-question-wrapper {
    display: flex;
    margin-top: 20px; 
}
.have-a-question-wrapper-inner {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 10px;
    /* border: 1px solid red; */
    cursor: var(--cursor-pointer);
}
.have-question {
    color: var(--cr-1);
    font-family: Montserrat;
    font-size: var(--fnt-siz-4);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* aside price and cart */
.delivery-return-assurance-wrapper {
    /* border: 2px solid red; */
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 0;
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 5px;
    border-bottom: var(--border-bottom);
}
.pdp-dra-box {
    /* border: 2px solid blue; */
    height: fit-content;
    text-align: var(--text-align-center);
    height: 130px;
}
.pdp-dra-box p {
    color: var(--cr-1);
    text-align: var(--text-align-center);
    font-family: Montserrat;
    font-size: 0.8rem;
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-0);
    margin-bottom: -10px;
}
.pdp-aside-last-unit {
    /* border: 1px solid red; */
    border-bottom: var(--border-bottom);
}
.pdp-aside-last-unit h4 {
    /* border: 2px solid red; */
    font-weight: var(--fnt-wt-3);
    cursor: var(--cursor-pointer);
}
.pdp-aside-last-unit svg {
    cursor: var(--cursor-pointer);
}
.pdp-aside-last-unit-ans {
    font-size: 0.9375rem;
    /* border: 2px solid red; */
    margin-top: -.5rem;
    padding-bottom: .5rem;
}

/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */
@media only screen and (max-width: 1000px) {
    /* picture.prod-display-image {
        background-color: red;
        padding: 15px  
    } */
    figure.product-image-on-display {
        padding: 0;
    }
}
@media only screen and (max-width: 991px) {
    .pdp-stn-66-34-division {  
        display: grid;
        grid-template-columns: 100%;
    }
    .pdp-aside-wrapper {
        padding-left: 0;
        padding: 30px 0;
    }
    .product-heading-wrapper {
        text-align: var(--text-align-center);
        /* border: 2px solid red; */
    }
    .pdp-product-heading-plus-whislist-wrapper {
        /* border: 2px solid red; */
        margin-left: auto;
        margin-right: auto;
        gap: 30px;
    }
    .cart-btn-stl {
        width: 100%
    }
    .product-image-to-be-displayed-div-wrapper {
        overflow-x: auto;
        scroll-behavior: smooth;
    }
    .product-image-to-be-displayed-div-wrapper::-webkit-scrollbar {
        display: none;
    }
    .product-image-on-display svg {
        background-color: red;
        display: none;
    }
    picture.prod-display-image {
        /* background-color: red; */
        padding: 3%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 600px) {
    .pdp-product-heading, .pdp-product-heading-2, .product-price {
        font-size: var(--fnt-siz-12);
    }
    .pdp-product-heading, .pdp-product-heading-2{
        text-align: left;
    }
    .shipping-tax-para {
        /* border: 2px solid red; */
        margin-top: 1.2rem;
    }
    .product-heading-wrapper > p {
        text-align: left;
    }
    .pdp-product-heading-plus-whislist-wrapper {
        gap: 15px;
    }
    .product-image-wrapper {
        /* border: 2px solid red; */
        margin-left: -13px;
        margin-right: -13px;
    }
}
/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */
/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */






/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
/* this section is for About the Creation */
/* .about-the-creation-details-part {
    border: 1px solid red;
} */
.my-rich-stn h2 {
    /* background-color: red; */
    margin-bottom: -10px;
}
.certificate-of-authenticity-wrapper {
    border: 0px solid red;
}
.about-creation-show-more, .about-creation-show-less {
    color: var(--cr-1);
    font-family: Montserrat;
    font-size: var(--fnt-siz-4);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-3);
    line-height: var(--line-ht-normal);
    margin-top: -10px;
}
.about-creation-show-more strong, .about-creation-show-less strong {
    margin-right: 15px;
}

.specs-details-heading {
    color: var(--cr-1);
    font-family: Montserrat;
    font-size: var(--fnt-siz-14);
    font-style: var(--fnt-stl-normal);
    font-weight: bold;
    line-height: var(--line-ht-281-rem);
}
.spec-details-one-unit {
    color: var(--cr-11);
    font-family: Montserrat;
    font-size: var(--fnt-siz-4);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-0);
    line-height: var(--line-ht-281-rem);
    border-bottom: var(--border-bottom);

    display: flex;
}
.spec-details-one-unit span:first-child {
    /* border: 2px solid red; */
    width: 25%;
}
.spec-details-one-unit span:nth-child(2) {
    border: 0px solid red;
}

.about-creation-btns-wrapper {
    border: 0px solid red;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    width: 90%;
}
.about-creation-btns-wrapper :first-child {
    margin-left: 0;
}
.about-creation-btn {
    display: flex;
    margin: auto;
    padding: 0.5rem 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 20px;
    outline: none;
    border: none;
    width: fit-content;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0.625rem;
    margin-bottom: 0.625rem;
}
/* .certificate-of-authenticity-wrapper {
    border: 1px solid blue;
} */
.certificate-of-authenticity-para {
    margin-bottom: -15px;
}
.auth-certificate-wrapper {
    /* border: 2px solid red; */
    margin-top: 10px;
}
.auth-certificate-wrapper img {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */
@media only screen and (max-width: 1400px) {
    .certificate-of-authenticity-wrapper > h2 {
        /* border: 1px solid red; */
        line-height: 1.25;
    }
}
@media only screen and (max-width:991px) {
    .pdp-stn-66-34-division {
        /* border: 2px solid blue; */
        display: flex;
        flex-direction: column;
    }
    .certificate-of-authenticity-wrapper {
        padding-left: 0px;
        padding-top: 40px;
        text-align: center;
    }
    .about-creation-btns-wrapper {
        /* border: 2px solid red; */
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        margin-right: 20px;
        width: 95%;
    }
    .about-creation-btn {
        margin-left: 0;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .auth-certificate-wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .auth-certificate-wrapper img {
        border-radius: 15px;
    }

}
@media only screen and (max-width: 600px)  {
    .auth-certificate-wrapper {
        width: 60%;
    }
}
@media only screen and (max-width: 480px)  {
    .auth-certificate-wrapper {
        width: 100%;
    }
}
/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */







/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
/* this section is for DISCOVER THE CREATION IN INTERIORS */
.discover-section-heading {
    margin-bottom: 0;
}
.discover-pic-card img {
    width: 400px;
    height: 400px;
    border-radius: .94rem;
}
@media only screen and (max-width: 1300px) {
    .discover-pic-card img {
        width: 300px;
        height: 300px;
    }
}
@media only screen and (max-width: 600px) {
    .discover-pic-card img {
        width: 350px;
        height: 350px;
    }
    .discover-section {
        padding-left: 0;
        padding-right: 0;
    }
}
@media only screen and (max-width: 480px) {
    .discover-pic-card img {
        width: 300px;
        height: 300px;
    }
    .discover-section {
        padding-left: 0;
        padding-right: 0;
    }
}
/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */
@media only screen and (max-width: 480px) {
    .discover-pic-card img {
        width: 300px;
        height: 300px;
    }
    .discover-section {
        padding-left: 0;
        padding-right: 0;
    }
}
/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */
/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */







/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
/* ❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️ */
/* ❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️ */
/* ❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️ */
/* this section is for ABOUT THE CREATOR */
.pdp-about-the-creator-section {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 65% 35%;
}
/* -*-*-*-*-*-*-*-*-*- ABOUT THE CREATOR SECTION -DETAILS -*-*-*-*-*-*-*-*-*- */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- */
/* .pdp-about-the-creator-section-details {
    border: 1px solid blue;
} */

/* ---------- ((profile + name) + follow button) ---------- */
.profile-wrapper {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: -.92rem;
    margin-bottom: 1rem;
}
/* .profile-img-wrapper {
    border: 5px solid red;
    
} */
.profile-img-wrapper img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}
.profile-name-wrapper {
    margin-top: auto;
    margin-bottom: auto;
}
.profile-name-wrapper h3 {
    color: var(--cr-1);
    font-family: Montserrat;
    font-style: var(--fnt-stl-normal);
    font-weight: 700;
    line-height: var(--line-ht-normal);
    margin-bottom: -1rem;
}
.profile-name-wrapper h4 {
    color: var(--cr-10);
    font-family: Montserrat;
    font-size: 1rem;
    font-style: var(--fnt-stl-normal);
    font-weight: 500;
    line-height: var(--line-ht-normal);
}
.profile-follow-btn {
    width: 7.875rem;
    height: 2.4375rem;
    border-radius: var(--border-radius--8);
    border: 1px solid #000;
    background: var(--bgr-1);
    color: var(--cr-1);
    text-align: var(--text-align-center);
    font-family: Montserrat;
    font-size: var(--fnt-siz-2);
    font-style: var(--fnt-stl-normal);
    font-weight: bold;
    line-height: var(--line-ht-normal);
}
/* ---------- ((profile + name) + follow button) ---------- */

/* ********* ((Artist highlight + credentials) + texts) ********* */
.pdp-about-creator-artist-highlight-cred-txt-wrapper {
    display: flex;
}
.artist-highlight-cred-wrapper {
    width: 35%;
}
.artist-highlight-text-wrapper {
    width: 65%;
}
/* ---------artist highlight section-------- */
.pdp-artist-highlight-section {
    padding-bottom: 20px;
    border-bottom: 1px solid #E0E0E0;
    margin-right: 25px;
}
.art-light-1-unit {
    display: flex;
    gap: 10px;
    align-items: center;
}
.art-light-1-unit-txt-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10px;
}
.artist-gf {
    width: 2.7305rem;
    height: 2.7305rem;
    flex-shrink: 0;
    border: 1px solid #f1e7d0;
    border-radius: 50%;
    background-color: #fff4db;
    padding: 0.25rem;
}
/* ---------artist highlight section-------- */

/* ----------credential section------------- */
.pdp-artist-cred-section {
    border: 0px solid tomato;
}
.cred-heading {
    /* border: 2px solid red; */
    margin-bottom: 0;
}
.pdp-artist-cred-section > h3{
    /* border: 2px solid blue; */
    margin-top: 2.2rem;
}
.cred-section-one-unit {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 10px;
    height: 2.41rem;
}
.cred-section-one-unit p {
    color: var(--cr-11);
    font-family: Montserrat;
    font-size: var(--fnt-siz-4);
    font-style: var(--fnt-stl-normal);
    font-weight: var(--fnt-wt-1);
    line-height:var(--line-ht-150-prcnt); 
    /* border: 1px solid red; */
}
.cred-section-one-unit span {
    display: flex;
}
/* ----------credential section------------- */

/* -------artist highlight text section------ */
.artist-highlight-text-wrapper {
    /* border: 3px solid red; */
    padding-left: 20px;
}
.artist-highlight-text-wrapper-heading {
    color: var(--cr-11);
    font-family: Montserrat;
    font-size: var(--fnt-siz-17);
    font-style: var(--fnt-stl-normal);
    font-weight: 700;
    line-height: var(--line-ht-225-rem); /* 128.571% */
}
/* -------artist highlight text section------ */
/* ********* ((Artist highlight + credentials) + texts) ********* */
/* -*-*-*-*-*-*-*-*-*- ABOUT THE CREATOR SECTION -DETAILS -*-*-*-*-*-*-*-*-*- */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- */

/* -------------- right side image ------------ */
.pdp-about-the-creator-section-image-wrapper {
    /* border: 3px solid black; */
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.pdp-about-the-creator-section-image-wrapper img {
    width: 100%;
    border-radius: 15px;
}
/* -------------- right side image ------------ */

/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */
@media only screen and (max-width: 991px) {
    .pdp-about-the-creator-section-image-wrapper {
        display: none;
    }
    .pdp-about-the-creator-section {
        grid-template-columns: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .pdp-about-the-creator-section-details > h2 {
        text-align: var(--text-align-center);
    }
    .profile-wrapper{
        /* border: 2px solid blue; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .profile-img-wrapper {
        border: 0px solid red;
    }
    .profile-name-wrapper{
        border: 0px solid red;
        text-align: var(--text-align-center);
    }
    .pdp-about-creator-artist-highlight-cred-txt-wrapper {
        /* border: 3px solid black; */
        flex-direction: column;
    }
    .artist-highlight-text-wrapper {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: justify;
    }
    .artist-highlight-cred-wrapper {
        width: 100%;
    }
    .pdp-artist-highlight-section {
        margin-right: 0;
    }
    .pdp-about-the-creator-section-image-wrapper {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-left: 0;
        display: flex;
        place-items: center;
        /* border: 1px solid red; */
    }
    /* .pdp-about-the-creator-section-image-wrapper img {
        width: auto;
    } */
    .artist-highlight-text-wrapper-heading , .artist-highlight-text-wrapper-para{
        text-align: var(--text-align-center);
    }
}
@media only screen and (max-width: 600px) {
    .artist-highlight-text-wrapper-heading {
        font-size: var(--fnt-siz-9);
        line-height: 2rem;
    }
    
}
@media only screen and (max-width: 450px) {
    .pdp-about-the-creator-section-image-wrapper img {
        text-align: center;
        width: 100%;
    }
    .pdp-about-the-creator-section-image-wrapper {
        width: 80%;
    }
}
/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */
/* ❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️ */
/* ❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️ */
/* ❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️ */
/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */







/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
/* this section is for OTHER ARTWORKS BY SOME ARTISTS */
.pro-heading-wrap h2:nth-child(2){
    /* border: 1px solid red; */
    margin-top: -2rem;
    margin-bottom: -1rem;
}

.pdp-other-artworks-by-section {
    /* border: 1px solid red; */
    /* display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    place-items: center; */
    width: 100%;
}
.product-single-card-wrapper {
    border: 0px solid blue;
    /* display: grid;  */
    /* padding-bottom: 0; */
    /* display: flex;/ */
    /* flex-direction: column; */
}
.product-image-and-whislist-wrapper {
    /* border: 1px solid red; */
    height: 11.30rem;
    position: relative;
}
.pdp-image-wrapper img {
    height: 100%;
    width: 100%;
    border: 4px solid black;
    padding: 3px;
}
.pdp-whislist-wrapper {
    width: max-content;
    position: absolute;
    bottom: 0.75rem;
    right: 0.80rem;
}
.product-image-details-text-box {
    /* border: 2px solid red; */
    width: 100%;
    margin-right: auto;
    margin-bottom: 0;
}
.product-image-details-box-title {
    /* border: 2px solid red; */
    margin-top: 10px;
    margin-bottom: 0px;
}
.product-image-details-para-1 {
    margin-top: 5px;
}
.product-image-details-para-2 {
    margin-top: -14px;
    margin-bottom: 0px;
}
.product-image-details-price {
    margin-top: 5px;
}
/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */

/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */
/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */




/* you-might-like-section */
.you-might-like-section h2 {
    /* border: 1px solid red; */
    margin-bottom: -.5rem;
}