@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* GLOBAL STYLING */
*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.ring {
    border: 3px solid red;
}
.sub-ring {
    border: 3px solid blue;
}
.pdp-section-setup {
    margin-left: 50px;
    margin-right: 50px;
}
.side-bars-setup {
    padding-left: 60px;
}
@media only screen and (max-width: 1000px) {
    .pdp-section-setup {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .pdp-section-setup {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
.pdp-product {
    border: 2px solid orangered;    
    display: grid;
    grid-template-columns: 64% 36%;
}
.product-image-wrapper {
    /* border: 1px solid blue; */
    background-color: #f6f6f6;
}
.product-image-on-display {
    /* border: 3px solid blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.product-image-on-display img{
    border: 0px solid blue;
}

.prod-display-image {
    border: 2px solid red;
}
.prod-display-image img {
    border: 2px solid red;
    width: 100%;
}


.product-image-to-be-displayed-wrapper {
    /* border: 1px solid black; */
    height: auto;
    width: 80%;
    
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.product-image-to-be-displayed-div-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 25px;
}
.product-image-to-be-displayed-wrapper img{
    /* border: 3px solid black; */
    height: 5rem;
    width: 5rem;
}



.pdp-aside-wrapper {
    border: 1px solid blue;
}
.pdp-product-heading {
    color: #000;
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    /* border: 2px solid red; */
    margin-bottom: 5px;
    margin-top: 5px;
    
}
.pdp-product-heading-plus-whislist-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid black; */
    
}

.pdp-product-para {
    /* border: 2px solid red; */
    color: #000;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: -5px;
}
#artist-name {
    color: #000;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}
.pdp-product-para-2 {
    color: #404040;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.product-heading-wrapper {
    /* border: 2px solid red; */
    padding-bottom: 0px;
    border-bottom: 1px solid #E0E0E0;
}





.price-cart-offer-wrapper {
    /* border: 2px solid red; */
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #E0E0E0;
}
.price-box-wrapper {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    margin-bottom: -40px;
}
.price-with-currency {
    display: flex;
    gap: 10px;
}
#product-price-currency-select {
    border: none;
    margin-left: 0px;
}
.product-price {
    color: #000;
    font-family: Montserrat;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}
.Shipping-tax-para {
    color: #404040;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.cart-btn {
    border-radius: 6.25rem;
    background: #FE8453;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 22rem;
    width: 71%;
    height: 3.25rem;
    flex-shrink: 0;
    border: none;
    margin-bottom: 10PX;
    margin-TOP: 5PX;
}
.offer-btn {
    width: 22rem;
    width: 71%;
    height: 3.25rem;
    flex-shrink: 0;
    background: #FFEBBD;
    border-radius: 6.25rem;
    color: #24221E;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}
.have-a-question-wrapper {
    /* border: 2px solid red; */
    display: flex;
    margin-top: 20px; 
}
.have-a-question-wrapper-inner {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 10px;
}
.have-question {
    color: #000;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




.delivery-return-assurance-wrapper {
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0;
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E0E0E0;
}
.pdp-dra-box {
    /* border: 2px solid blue; */
    height: fit-content;
    text-align: center;
    height: 130px;
}
.pdp-dra-box p {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 300;

    margin-bottom: -10px;
}

.pdp-aside-last-unit {
    /* border: 2px solid red; */
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    font-weight: bold;
}
.arrrr {
    /* border: 2px solid red; */
    margin: auto;
    margin-right: 0;
}

/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */
@media only screen and (max-width: 1000px) { 
    .pdp-product {
        border: 2px solid orangered;    
        display: grid;
        grid-template-columns: 100%;
    }
    .pdp-aside-wrapper {
        padding-left: 0;
        padding: 30px 0;
    }
    .product-heading-wrapper {
        text-align: center;
        /* border: 2px solid red; */
    }
    .pdp-product-heading-plus-whislist-wrapper {
        border: 2px solid red;
        margin-left: auto;
        margin-right: auto;
        width: max-content;
        gap: 30px;
    }
}
@media only screen and (max-width: 768px) { 
    .pdp-product-heading-plus-whislist-wrapper {
        width: 100%;
        display: grid; 
        grid-template-columns: 80% 20%;
    }
   
    .pdp-product-heading {
        text-align: left;
    }
    .pdp-product-heading-2 {
        text-align: center;
    }
}

/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */





















/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
.pdp-about-the-creation-section {
    border: 2px solid blue;
    display: grid;
    grid-template-columns: 64% 36%;
}
.about-the-creation-details-part {
    border: 1px solid red;
}
.certificate-of-authenticity-wrapper {
    border: 0px solid red;
}
.about-creation-para {
    color: #404040;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    /* text-align: justify; */

}
.about-creation-show-more {
    color: #000;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    margin-top: -10px;
}
.about-creation-show-more strong {
    margin-right: 15px;
}




.specs-details-heading {
    color: #000;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: bold;
    line-height: 2.8125rem;
}
.spec-details-one-unit {
    color: #404040;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.8125rem; 
    border-bottom: 1px solid #E0E0E0;

    display: flex;
}
.spec-details-one-unit span:first-child {
    /* border: 2px solid red; */
    width: 25%;
}
.spec-details-one-unit span:nth-child(2) {
    border: 0px solid red;
}



.about-creation-btns-wrapper {
    border: 2px solid red;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    width: 90%;
}
.about-creation-btns-wrapper :first-child {
    margin-left: 0;
}
.about-creation-btn {
    display: flex;
    margin: auto;
    padding: 0.5rem 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 20px;
    outline: none;
    border: none;
    width: fit-content;
    flex-wrap: wrap;

    margin-left: 0px;
    margin-right: 0.625rem;
    margin-bottom: 0.625rem;
}





/* .certificate-of-authenticity-wrapper {
    padding-left: 80px;
} */

.certificate-of-authenticity-para {
    color: #404040;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    /* line-height: 1.5rem; */
    margin-bottom: -10px;
}
.auth-certificate-wrapper {
    /* border: 2px solid red; */
    margin-top: 10px;
}
.auth-certificate-wrapper img {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    border-radius: 15px;
}



/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */
@media only screen and (max-width:1000px) {
    .pdp-about-the-creation-section {
        /* border: 2px solid blue; */
        display: flex; 
        flex-direction: column;
   
    }
    .certificate-of-authenticity-wrapper {
        padding-left: 0px;
        padding-top: 40px;
        text-align: center;
    }
    .auth-certificate-wrapper img {
        /* border: 2px solid red; */
        width: auto;
        height: auto;
        border-radius: 15px;
    }
    .about-creation-btns-wrapper {
        border: 2px solid red;
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        margin-right: 20px;
        width: 95%;
    }
    .about-creation-btn {
        margin-left: 0;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width:1000px)  {
    .certificate-of-authenticity-wrapper {
        padding-left: 0px;
        padding-top: 40px;
        text-align: center;
    }
    .auth-certificate-wrapper img {
        /* border: 2px solid red; */
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
}
/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */
/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
.discover-section-heading {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.discover-images {
    border: 2px solid red;
    display: flex;
    gap: 20px;
}
.discover-images-one-unit-box {
    width: 100%;
}
.discover-images-one-unit-box img {
    width: 100%;
    border-radius: .94rem;
}
@media only screen and (max-width: 1000px) {
    .discover-images {
        border: 2px solid red;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */













/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */




/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
.pdp-about-the-creator-section {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 65% 35%;
}
/* -*-*-*-*-*-*-*-*-*- ABOUT THE CREATOR SECTION -DETAILS -*-*-*-*-*-*-*-*-*- */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- */
.pdp-about-the-creator-section-details {
    border: 0px solid red;
}
.about-the-creator-heading {
    border: 0px solid red;
}

/* ---------- ((profile + name) + follow button) ---------- */
.profile-wrapper {
    /* border: 1px solid blue; */
    display: flex;
    gap: 30px;
}
.profile-img-wrapper {
    border: 0px solid red;
}
.profile-img-wrapper img {
    border-radius: 50%;
}
.profile-name-wrapper {
    /* border: 2px solid red; */
    margin-top: auto;
    margin-bottom: auto;
}
.profile-follow-btn {
    border-radius: 1.21875rem;
    border: 1px solid #000;
    background: #FFF;
    width: 7.875rem;
    height: 2.4375rem;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;

    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
/* ---------- ((profile + name) + follow button) ---------- */

/* ********* ((Artist highlight + credentials) + texts) ********* */
.pdp-about-creator-artist-highlight-cred-txt-wrapper {
    /* border: 2px solid red; */
    display: flex;
}
.artist-highlight-cred-wrapper {
    /* border: 2px solid black; */
    width: 35%;
}
.artist-highlight-text-wrapper {
    /* border: 2px solid red; */
    width: 65%;
}
/* ---------artist highlight section-------- */
.pdp-artist-highlight-section {
    /* border: 1px solid blue; */
    padding-bottom: 20px;
    border-bottom: 1px solid #E0E0E0;
    margin-right: 25px;
}
.art-light-1-unit {
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
    align-items: center;
}
.art-light-1-unit-txt-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 1px solid red; */
    padding-left: 10px;
    /* padding-right: 10px; */
}
.artist-gf {
    width: 2.7305rem;
    height: 2.7305rem;
    flex-shrink: 0;
    border: 1px solid #f1e7d0;
    border-radius: 50%;
    background-color: #fff4db;
    padding: 0.25rem;
}
/* ---------artist highlight section-------- */

/* ----------credential section------------- */
.pdp-artist-cred-section {
    border: 0px solid tomato;
}
.cred-heading {
    /* border: 2px solid red; */
    margin-bottom: 0;
}
.cred-section-one-unit {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 10px;
    height: 2.81rem;
}
.cred-section-one-unit p {
    color: #404040;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8125rem; /* 321.429% */
}
.cred-section-one-unit span {
    /* border: 3px solid red; */
    display: flex;
}
/* ----------credential section------------- */

/* -------artist highlight text section------ */
.artist-highlight-text-wrapper {
    /* border: 3px solid red; */
    padding-left: 20px;
}
.artist-highlight-text-wrapper-heading {
    color: #404040;
    font-family: Montserrat;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.25rem; /* 128.571% */
}
.artist-highlight-text-wrapper-para {
    color: #404040;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}
/* -------artist highlight text section------ */
/* ********* ((Artist highlight + credentials) + texts) ********* */
/* -*-*-*-*-*-*-*-*-*- ABOUT THE CREATOR SECTION -DETAILS -*-*-*-*-*-*-*-*-*- */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- */

/* -------------- right side image ------------ */
.pdp-about-the-creator-section-image-wrapper {
    /* border: 3px solid black; */
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.pdp-about-the-creator-section-image-wrapper img {
    width: 100%;
    /* height: 100%; */
    /* border: 1px solid black; */
    border-radius: 15px;
}
/* -------------- right side image ------------ */


/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */
@media only screen and (max-width: 1000px) {
    .pdp-about-the-creator-section-image-wrapper {
        display: none;
    }
    .pdp-about-the-creator-section {
        grid-template-columns: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .about-the-creator-heading {
        text-align: center;
    }
    .profile-wrapper{
        /* border: 2px solid blue; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .profile-img-wrapper {
        border: 0px solid red;
    }
    .profile-name-wrapper{
        border: 0px solid red;
        text-align: center;
        
    }
    .profile-name-wrapper p{
        margin-top: -12px;
        
    }
    .pdp-about-the-creator-section-image-wrapper {
        display: block;
        padding-left: 0;
    }

    .pdp-about-creator-artist-highlight-cred-txt-wrapper {
        /* border: 3px solid black; */
        flex-direction: column;

    }
    .artist-highlight-text-wrapper {
        /* border: 3px solid red; */
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: justify;
    }

    .artist-highlight-cred-wrapper {
        /* border: 2px solid red; */
        width: 100%;
    }
    .pdp-artist-highlight-section {
        margin-right: 0;
    }
    .pdp-about-the-creator-section-image-wrapper {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .artist-highlight-text-wrapper-heading {
        font-size: 1.5rem;
        line-height: 1.2;
    }

}
/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */

/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */








/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */
.pdp-other-artworks-by-section {
    border: 2px solid red;
}
.product-single-card-wrapper {
    border: 2px solid blue;
    width: max-content;
}

.product-image-and-whislist-wrapper {
    border: 2px solid black;
    width: max-content;
    position: relative;
}
.pdp-image-wrapper {
    border: 0px solid blue;
}
.pdp-image-wrapper img{
    width: auto;
}
.pdp-whislist-wrapper {
    /* border: 2px solid orangered; */
    width: max-content;
    position: absolute;
    bottom: 0.25rem;
    right: 0.5rem;
}

.product-image-details-text-box {
    border: 0px solid red;
}
 





/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */

/* |R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R||R|R|R|R|R| */
/* |*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|*|* */






