.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    /* -webkit-appearance: none;  */
    /* appearance: none; */
    width: 100%; 
    height: 6px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}

/* Mouse-over effects */
.slider:hover {
opacity: 1; 
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px;
    background: #FE8453; 
    cursor: pointer;
    border-radius: 50%;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px; 
    background: #04AA6D; 
    cursor: pointer; 
}